.form {
    display: flex;
    flex-flow: column wrap;
    padding: 0 20px;

    &__background {
        background-color: $lime04;
        border: 2px solid $forest-green;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        padding: 20px;
        width: 100%;
        @media (max-width:$l) {
            margin-top: 50px;
        }
    }

    &__email {
        height: 50px;
        padding: 20px;
        margin: 20px 20px 20px 0;
        transition-duration: 0.5s;

        &:focus {
        background-color: $white;
        border: 2px solid $forest-green;
        border-radius: 10px;
        }
    }

    &__message {
        height: 120px;
        width: 90%;
        padding: 20px;
        margin-top: 20px;
        transition-duration: 0.5s;
        @media (max-width:$m) {
            height: 160px;
        }

        &:focus {
        background-color: $white;
        border: 2px solid $forest-green;
        border-radius: 10px;
        transition-duration: 0.5s;
        }
    }

    &__agree {
        font-size: $font-20;
        padding-bottom: 20px;
        @media (max-width:$l) {
            padding: 20px 0;
        }
    }

    &__button {
        background-color: $lime06;
        border: 2px solid $forest-green;
        border-radius: 10px;
        padding: 10px;
        font-size: $font-20;
        width: 150px;

        &:hover {
            cursor: pointer;
        }
    }

}
