.gallery {
    &__album {
        border: 2px solid $forest-green;
        border-radius: 10px;
        margin-top: 0;
        @media (max-width: $l) {
            margin-top: 50px;
        }
    }

    &__frame {
        overflow: hidden;
    }

    &__thumb {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
        transition: all 0.5s;
        &:hover {
            cursor: zoom-in;
            transform: scale(1.1);
        }
    }
}
