
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* josefin-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
       url('../fonts/josefin-sans-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v12-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* krona-one-regular - latin_latin-ext */
@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  src: local('Krona One'), local('KronaOne-Regular'),
       url('../fonts/krona-one-v5-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/krona-one-v5-latin_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
//breakpoints:
$xs: 320px;
$s: 640px;
$m: 1040px;
$l: 1200px; //1400
$minl: 1201px;

//nav-size:
$nav-size: 60px;

//font-size
$font-footer: 20px;
$font-15: 15px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-nav: 25px;
$font-header: 25px;
$font-text: 22px;

//font-family
$font-primary: 'Josefin Sans';
$font-secondary: 'Open Sans';
$font-title: 'Krona One';

//colors:
$seaweed-green: #6E6702;
$forest-green: #546d33; //#2E4600;
$grass: #486B00;
$lime: #95b73c;//#A2C523;
$lime-more: #afc17f;
$lime06: rgba($lime, 0.6);
$lime04: rgba($lime, 0.4);
$earth: #7D4427;
$bark: #2E2300;
$white: #fff;
$beige: #c3b76d;

body {
    color: $bark;
    font-family: $font-primary;
    font-size: $font-20;
    font-weight: 400;
}

%background-content {
    background-color: rgba($lime, 0.6);
}
