@media all and (max-width: $s){
	.cntnr {max-width: $s;}
    .col-0-xs {display: none}
    .col-1-xs {width: 8.33%;}
    .col-2-xs {width: 16.66%;}
    .col-3-xs {width: 25%;}
    .col-4-xs {width: 33.33%;}
    .col-5-xs {width: 41.66%;}
    .col-6-xs {width: 50%;}
    .col-7-xs {width: 58.33%;}
    .col-8-xs {width: 66.66%;}
    .col-9-xs {width: 75%;}
    .col-10-xs {width: 83.33%;}
    .col-11-xs {width: 91.66%;}
    .col-12-xs {width: 100%;}
}

@media all and (min-width: $s) {
	.cntnr {min-width: $s;}
	.col-0-s {display: none}
	.col-1-s {width: 8.33%;}
	.col-2-s {width: 16.66%;}
	.col-3-s {width: 25%;}
	.col-4-s {width: 33.33%;}
	.col-5-s {width: 41.66%;}
	.col-6-s {width: 50%;}
	.col-7-s {width: 58.33%;}
	.col-8-s {width: 66.66%;}
	.col-9-s {width: 75%;}
	.col-10-s {width: 83.33%;}
	.col-11-s {width: 91.66%;}
	.col-12-s {width: 100%;}
}

@media all and (min-width: $m) and (max-width: $l) {
	.cntnr {min-width: $m;}
	.col-0-m {display: none}
	.col-1-m {width: 8.33%;}
	.col-2-m {width: 16.66%;}
	.col-3-m {width: 25%;}
	.col-4-m {width: 33.33%;}
	.col-5-m {width: 41.66%;}
	.col-6-m {width: 50%;}
	.col-7-m {width: 58.33%;}
	.col-8-m {width: 66.66%;}
	.col-9-m {width: 75%;}
	.col-10-m {width: 83.33%;}
	.col-11-m {width: 91.66%;}
	.col-12-m {width: 100%;}
}

@media all and (min-width: $minl){
	.cntnr {width: $minl;}
	.col-0-l {display: none}
	.col-1-l {width: 8.33%;}
	.col-2-l {width: 16.66%;}
	.col-3-l {width: 25%;}
	.col-4-l {width: 33.33%;}
	.col-5-l {width: 41.66%;}
	.col-6-l {width: 50%;}
	.col-7-l {width: 58.33%;}
	.col-8-l {width: 66.66%;}
	.col-9-l {width: 75%;}
	.col-10-l {width: 83.33%;}
	.col-11-l {width: 91.66%;}
	.col-12-l {width: 100%;}
}

[class^="col-"] {
    display: flex;
    flex-flow: column nowrap;
}

%container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.row {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    position: relative;
	width: 100%;
}

.stretch {
    align-items: stretch;
    display: flex;
}
