@font-face {
  font-family: 'close';
  src: url('../../fonts/fontello/close.eot?44835887');
  src: url('../../fonts/fontello/close.eot?44835887#iefix') format('embedded-opentype'),
       url('../../fonts/fontello/close.woff2?44835887') format('woff2'),
       url('../../fonts/fontello/close.woff?44835887') format('woff'),
       url('../../fonts/fontello/close.ttf?44835887') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'close';
    src: url('../fonts/fontello/close.svg?44835887#close') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "close";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancel:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-left-open-1:before { content: '\e805'; } /* '' */
.icon-right-open-1:before { content: '\e806'; } /* '' */
