.footer {
    background-color: $forest-green;
    display: flex;
    height: 60px;
    width: 100%;

    &__text {
        align-items: center;
        display: flex;
        font-size: $font-footer;
        height: 100%;
        justify-content: center;
        transition-duration: 1s;
        width: 100%;

        a:hover {
            background-color: $lime;
            cursor: pointer;
        }
    }
}
