.frontpage {
    background-color: $white;
    font-family: $font-primary;
    font-size: $font-text;
    width: 100%;
    @media (max-width: $s) {
        font-size: $font-18;
    }

    &__background {
        &--left {
            background: url("../images/background_left.svg") bottom left no-repeat;
            background-size: 41.666666667%;
//            background-size: 30%;
            @media (max-width: $m) {
                background-size: cover;
            }
        }
        &--right {
            background: url("../images/background_right.svg") top right no-repeat;
            background-size: 58.33333333%;
//            background-size: 70%;
            @media (max-width: $m) {
                background-size: cover;
            }
        }
        &--gallery {
            background-color: rgba($beige, 0.2);
        }
        &--size30 {
            background-size: 30%;
            @media (max-width: $m) {
                background-size: 1000%;
            }
        }
        &--size70 {
            background-size: 70%;
            @media (max-width: $m) {
                background-size: 100%;
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 30px;
        @media (max-width:$l) {
            padding: 50px;
            padding-top: 80px;
        }
    }

    &__header {
        display: flex;
        font-family: $font-title;
        font-size: $font-header;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        line-height: calc(1.6 * #{$font-header});
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        @media (max-width:$l) {
//            line-height: calc(1 * #{$font-header});
            text-decoration: underline;
        }
        @media (max-width: $s) {
            font-size: $font-nav;
        }

        &--down {
            align-items: flex-end;
            height: 100%;
        }
        &--up {
            align-items: flex-start;
            justify-content: center;
        }
        &--min-l {
            @media (min-width:$minl) {
                display: none;
            }
        }
        &--max-l {
            @media (max-width:$l) {
                display: none;
            }
        }
        &--link {
            transition-duration: 0.7s;
            a:hover {
                color: $forest-green;
                cursor: pointer;
            }
        }
        &--blog-link {
            font-size: $font-22;
            font-weight: normal;
            padding-top: 50px;
            text-transform: none;
            transition-duration: 0.7s;
            a:hover {
                color: $forest-green;
                cursor: pointer;
            }
        }
    }

    &__text-placeholder {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        line-height: calc(1.5 * #{$font-text});
        padding-right: 100px;
        width: 100%;
        @media (max-width:$l) {
            padding-right: 0px;
        }
        &--header {
            align-items: flex-start;
            display: flex;
            font-weight: bold;
            justify-content: center;
            padding-bottom: 30px;
            padding-top: 80px;
            @media (max-width:$l) {
                padding-top: 50px;
            }
        }
        &--content {
            align-items: baseline;
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }

    &__information-placeholder {
        background-color: $lime06;
        border: 2px solid $forest-green;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        line-height: calc(1.2 * #{$font-text});
        padding: 20px;
        width: 100%;

        &--space {
            display: flex;
            flex-flow: column;
            height: 100%;
            padding-right: 20px;
            @media (max-width: $l) {
                padding-right: 0;
                padding-top: 50px;
            }
        }

        &--title {
            align-items: center;
            display: flex;
            font-weight: bold;
            height: 70px;
            justify-content: center;
            padding-bottom: 20px;
            text-align: center;
            @media (max-width: $l) {
                align-items: flex-start;
                height: auto;
            }
        }

        &--content {
            height: 300px;
//            line-height: calc(1.2 * #{$font-text});
            text-align: justify;
            overflow: hidden;
        }

        &--signature {
            align-items: flex-end;
            border-top: 1px solid $forest-green;
            display: flex;
            justify-content: space-between;
            font-size: $font-20;
            padding-top: 20px;
            width: 100%;
            @media (max-width: $s) {
                font-size: $font-18;
            }
        }
    }



    &__recommendation {
//        align-items: center;
        background-color: $lime06;
        border: 2px solid $forest-green;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: center;
        padding: 20px 20px 5px 20px;
        width: 100%;
        @media (max-width:$l) {
            margin-top: 50px;
        }

        &--link {
            transition-duration: 0.3s;
            a:hover {
                background-color: $lime;
//                color: $earth;
                cursor: pointer;
            }
        }
    }

    p {
        margin-bottom: 15px;
    }

    li {
        list-style-type: circle;
        margin-left: 30px;
        text-align: justify;
//        text-indent: 10px;
    }

    &__link {
        font-weight: bold;
        transition-duration: 1s;
    }
    &__link:hover {
        color: $forest-green;
        cursor: pointer;
    }
}
