.modal {
    align-items: center;
    //animation-name: image_open;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    background-color: rgba($bark, 0.8);
    display: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &__image {
        //animation-name: image_open;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        background-size: cover;
        background-position: center center;
        display: none;
        justify-content: flex-end;
        height: 80%;
        position: relative;
        width: 80%;

        &--close {
            color: $white;
            position: absolute;
            right: -25px;
            top: -25px;
            &:hover {
                cursor: pointer;
            }
        }

        &--left-open {
            color: $white;
            font-size: $font-header;
            position: absolute;
            left: -50px;
            top: 50%;
            &:hover {
                cursor: pointer;
            }
        }

        &--right-open {
            color: $white;
            font-size: $font-header;
            position: absolute;
            right: -50px;
            top: 50%;
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__info {
        align-items: flex-start;
        animation-name: image_open;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        background-color: $lime-more;
        display: none;
        justify-content: center;
        height: 80%;
        position: relative;
        width: 100%;

        &:hover {
            cursor: col-resize;
        }

        &--close {
            color: $white;
            position: absolute;
            right: 25px;
            top: -25px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__article {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        //margin: 0 auto;
        padding: 20px 40px;
        max-height: 100%;
        max-width: 1400px;

        & .article {
            &__title {
                font-weight: 700;
                padding-bottom: 10px;
            }

            &__date {
                font-size: $font-18;
                padding-bottom: 10px;
                border-bottom: 1px solid black;
                margin-bottom: 10px;
                @media (max-width: $m) {
                    font-size: $font-15;
                }
            }

            &__content {
                font-size: $font-22;
                height: 100%;
                line-height: calc(1.2 * #{$font-22});
                max-height: 100%;
                overflow-y: scroll;
                padding-top: 10px;
                @media (max-width: $m) {
                    font-size: $font-18;
                    line-height: calc(1.2 * #{$font-18});
                }
            }
        }
    }

    &__rodo-agreement {
        align-items: center;
        background: #fff;
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        line-height: 2.5rem;
        max-height: 100%;
        padding: 20px 50px;
        width: 100%;

        @media (max-width: $m) {
            font-szie: 14px;
        }

        & span.rodo-info {
            font-weight: 700;
            margin-bottom: 15px;
            text-align: justify;

            &__point {
                margin-bottom: 10px;
                padding-left: 30px;
            }
        }

        & .info-container {
            display: flex;
            flex-flow: column nowrap;
            max-width: 1900px;
            overflow: auto;
        }

        & .button-container {
            display: flex;
            justify-content: space-between;
            max-width: 1900px;
            padding: 10px 50px;
            width: 100%;

            @media (max-width: $m) {
                padding: 10px;
            }

            & button {
                border-radius: 3px;
                cursor: pointer;
                font-weight: 700;
                height: 49px;
                padding: 14px 30px 10px;
                transition: all 0.3s;

                @media (max-width: $m) {
                    height: 49px;
                    padding: 7px 10px 5px;
                }

                &:hover {
                    color: #fff;
                }

                &.decline {
                    background: #f66;

                    &:hover {
                        background: darken(#f66, 15%)
                    }

                    &:active {
                        background: darken(#f66, 30%)
                    }
                }

                &.accept {
                    background: #6f6;

                    &:hover {
                        background: darken(#6f6, 15%)
                    }

                    &:active {
                        background: darken(#6f6, 30%)
                    }
                }
            }
        }
    }
}

@keyframes image_open {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes image_close {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
