.nav {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    position: sticky;
    top: calc(60px - 100vh);
    z-index: 1;
    color: white;
    font-family: $font-primary;
    font-size: $font-nav;

    @media (max-width:$m) {
//        font-size: $font-20;
        height: $nav-size;
        position: sticky;
        top: 0;
        background-color: $forest-green;
    }

    &__topbar {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
    }

    &__bottom {
        background-color: $forest-green;
        height: $nav-size;

        @media (max-width: $m) {
            align-items: center;
            display: flex;
            height: auto;
            position: absolute;
            top: $nav-size;
            width: 100%;

            &.--hidden {
                display: none;
            }
        }
    }

    &__burger {
        align-items: center;
        display: none;
        justify-content: flex-end;
        height: $nav-size;
        margin-right: 30px;
        z-index: 100;

        @media (max-width: $m) {
            display: flex;
        }

        &--hidden {
            display: flex;
            @media (max-width: $m){
                display: none;
            }
        }
    }

    &__menu {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $m) {
            flex-flow: column;
            width: 100%;
        }

        & li {
            display: inline-block;
            line-height: 60px;
            padding-right: 30px;
            transition-duration: 1s;
            z-index: 3;

            &:first-of-type {
                @media (max-width:$m) {
                    display: none;
                }
            }

            &:hover {
                color: $lime;
                cursor: pointer;
            }
        }
    }

    &__logo {
        &-background {
            background: url("./../images/background_logo.svg") 0 0 no-repeat;
            background-size: contain;
            height: 140px;
            width: 100%;

            @media (max-width: $m) {
                background-size: auto 90px;
            }

            @media (max-width: $s) {
                background-size: 0;
            }
        }

        &-picture {
            background: url("./../images/logo.png") 20px 10px no-repeat;
            background-size: auto 60px;
            height: 140px;

            @media (max-width: $m) {
                background-size: auto 38px;
            }
        }
    }
}
