// config
@import './base/reset.scss';
@import './base/config.scss';
@import './base/rwd.scss';

// fontello
@import './fontello/close.css';

// main components
@import './containers/nav.scss';
@import './containers/frontpage.scss';
@import './containers/footer.scss';
@import './containers/modal.scss';

// partial components
@import './components/gallery.scss';
@import './components/form.scss';

* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-image: url("../images/ptl_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $forest-green;
    background-size: cover;
    transition: all 2s ease-in-out;
    @media (max-width: $m) {
        background-image: none !important;
    }
}
